# C# / .NET
bin/
obj/
*.user
*.userosscache
*.suo
*.cache
*.dll
*.pdb
*.exe

# Visual Studio
.vs/
*.vshost.*
launchSettings.json

# IDE
.vscode/
.idea/
*.swp
*.swo

# Veritabanı
*.db
*.sqlite
*.mdf
*.ldf

# Logs
*.log

# Sistem
.DS_Store
Thumbs.db
desktop.ini

# Paketler
packages/
*.nupkg
node_modules/

# Mobile Android Build
mobile/android/

# Gizli dosyalar
.env
appsettings.Development.json*_wpftmp.csproj
